/* RESET DE CONFIGURAÇÕES GERAIS PARA OS NAVEGADORES. */

* {
    margin: O;
    padding: O;
    box-sizing: border-box;

}
body {
    background-color: rgb(255, 0, 0);
    background-image: url("assets/fundo.jpg");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin: 20px;

}

p {
    text-align: justify;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;



}

button {

    height: auto;
    margin: 20px auto;
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
}

a {
    
    text-align: justify;
    text-decoration: none;
    margin: 20px auto;
    color: rgb(0, 17, 253);



}

img {
    display: block;
    margin: 20px auto;
    width: 300px;
    height: auto;
    border-radius: 10px;
}

h3 {
    
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 10px;

} 




ol {
    margin: 30px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.input-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}


input[type="text"] {
    margin: 0px auto;
    text-align: center;
    border-radius: 3px;
    outline: none;
}